![logos](https://images-submarino.b2w.io/produtos/01/00/item/126812/5/126812590_1GG.jpg)

In [ ]:
# Incentivado pela leitura do Licro 'Data Science para Negócios', resolvi usar o dataset da Empresa Telco - Telecom.
# O case é citado diversas vezes no livro, pretendo aprender/ensinar/expor conceitos sobre a atuação de 'árvores de decisão' 
# para o churn de clientes do segmentos. Pretendo ser o mais simples e prático possível. 
# Não pretendo e nem quero ser especialista/guru no assunto, acredito que possamos disseminar e compartilhar conhecimento.

Iremos utilizar o <b>[Artigo-Medium](https://towardsdatascience.com/churn-prediction-770d6cb582a5)</b> como fonte

Te convido a explorar e conhecer o Mundo de dataframes e <b>árvores de decisão</b>.

Leitura incrível sobre o <b>[tema](https://medium.com/machine-learning-beyond-deep-learning/%C3%A1rvores-de-decis%C3%A3o-3f52f6420b69)</b>

In [25]:
# Começamos sempre com a importação das bibliotecas
import pandas as pd
import numpy as np

Sobre bibliotecas <b>PYTHON</b> para 'Data Science', indico <b>[artigo](http://datascienceacademy.com.br/blog/top-20-bibliotecas-python-para-data-science/)</b>

In [26]:
# importação do csv, fácil e simples de executar
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
# Limpeza dos dados

In [40]:
# remover todos registros com valores nulos
df = df.dropna(how="all")

In [41]:
# remover registros duplicados
df = df[~df.duplicated()]

In [33]:
# criação de um outro Dataframe somente com alguns campos do 1º
categorical_features = df[['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection','TechSupport', 'StreamingTV' , 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod'] ]

In [35]:
# usamos o df.head() para verificar as 5 primeiras linhas do dataframe, recomendado após a criação do df
categorical_features.head()

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
0,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check
1,Male,0,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check
2,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check
3,Male,0,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic)
4,Female,0,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check

In [37]:
# criação de um terceiro Dataframe somente com alguns campos do 1º
numerical_features = df[['tenure', 'MonthlyCharges', 'TotalCharges'] ]

In [38]:
numerical_features.head()

   tenure  MonthlyCharges TotalCharges
0       1           29.85        29.85
1      34           56.95       1889.5
2       2           53.85       108.15
3      45           42.30      1840.75
4       2           70.70       151.65